{{if .Name }}
    <h1>Hello, {{.Name}}</h1>
{{else}}
    <p>Joshua Agbeku</p>
{{end}}
<h1>{{.Bio}}</h1>
<h1>{{.Meta.Visits}}</h1>


<script>
const user = {
    "name" : {{.Name}},
    "bio" : {{.Bio}},
    "age": {{.Age}}
}
console.log(user)
</script>